p {
    font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
     font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal; 
}